* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
}

img {  
    width: 100%;  
    max-width: 100%;  
    vertical-align: middle;  
    border-style: none;  
    }
    